<div class="container w-100">
    <div class="d-flex mt-5 align-content-between justify-content-between">
        <h1>Recauderia </h1>
        <button class="btn btn-primary" type="button" onclick="location.href='/'">Add new product </button>
        <button class="btn btn-link" type="button" onclick="location.href=`/carts/${localStorage.getItem('cart')}`">carrito</button>
    </div>
    <div class="row gap-5">
        {{#each products}}
            <div class="card col-3 ">

                <img src="{{this.image}}" alt="" class="card-img-top">

                <div class="card-body d-flex flex-column  justify-content-end">
                    <div class="d-flex justify-content-between">
                        <h5>{{this.title}}</h5>
                        <p class="align-self-end">${{this.price}} MXN</p>
                    </div>
                </div>
                <div class="card-footer p-2 mt-2">
                    <div class="align-self-end">
                        <button class="btn btn-light mr-5" onclick="getDetailProduct({{json this}})">Detail</button>
                        <button class="btn btn-primary ml-5" onclick="addProduct({{json this}})">Add</button>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
    <div class="pagination">
        {{#if hasPrevPage}}
            <a href="/products?page={{prevPage}}">Anterior</a>
        {{/if}}
        <p>Página {{currentPage}} de {{totalPages}}</p>
        {{#if hasNextPage}}
            <a href="/products?page={{nextPage}}">Siguiente</a>
        {{/if}}
    </div>
</div>

<script>
    function getDetailProduct(data){
        window.location.href = "/products/" + data._id
    }

    async function addProduct(data) {
        if (localStorage.length === 0 || localStorage.getItem("cart") === "undefined" || localStorage.getItem("cart") === "") {
            await fetch(`http://localhost:8080/api/carts/`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
            }).then(async (response) => {
                const responseCart = await response.json()
                if (!responseCart._id) {
                    console.log("No se pudo crear el carrito")
                }
                const idCart = responseCart._id;
                localStorage.setItem("cart", idCart);
            }).catch((err) => {
                console.log(err)
                alert("Error No se puede crear el carrito");
                window.location.href = "#";
            })
        }

        let idCart = localStorage.getItem("cart");
        await fetch(`http://localhost:8080/api/carts/${idCart}/product/${data._id}`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            }
        }).then(async (response) => {
            const responseCart = await response.json()
            if (!responseCart.id) {
            }
            window.location.href = "/carts/" + idCart
        })

    }

</script>